.craft-section{
background:#000;
color:#fff;
padding:100px 0;
}

.craft-title{
font-size:42px;
font-weight:700;
}

.gold{
color:#d4af37;
}

.craft-desc{
max-width:650px;
margin:auto;
color:rgba(255,255,255,0.7);
line-height:1.7;
}

/* CARD */

.craft-card{
background:#111;
padding:45px 35px;
border-radius:18px;
border:1px solid rgba(255,255,255,0.05);
transition:.4s;
height:100%;
}

.craft-card:hover{
transform:translateY(-10px);
border-color:#d4af37;
box-shadow:0 20px 60px rgba(212,175,55,0.18);
}

/* ICON */

.craft-icon{
font-size:30px;
margin-bottom:15px;
color:#d4af37;
}

/* NUMBER */

.craft-card h3{
font-size:38px;
color:#d4af37;
margin-bottom:8px;
}

/* TITLE */

.craft-card h5{
font-size:18px;
margin-bottom:10px;
}

/* TEXT */

.craft-card p{
color:#aaa;
font-size:14px;
line-height:1.6;
}