.collection-section{
background:#000;
color:#fff;
padding:90px 0;
}

/* container */
.container{
max-width:1200px;
margin:auto;
padding:0 15px;
}

/* Title */

.collection-title{
font-size:40px;
font-weight:700;
letter-spacing:1px;
text-align:center;
}

.collection-title span{
color:#d4af37;
}

/* Subtitle */

.collection-subtitle{
max-width:620px;
margin:auto;
margin-top:14px;
color:rgba(255,255,255,0.7);
font-size:16px;
line-height:1.7;
text-align:center;
}

/* CARD */

.collection-card{
width:100%;
max-width:270px;
background:#0a0a0a;
border:1px solid rgba(255,255,255,0.05);
border-radius:20px;
padding:24px 20px;
transition:all .35s ease;
text-align:center;
position:relative;
overflow:hidden;
}

/* card glow effect */

.collection-card::before{
content:"";
position:absolute;
width:150%;
height:150%;
background:radial-gradient(circle, rgba(212,175,55,0.15), transparent 60%);
top:-50%;
left:-50%;
opacity:0;
transition:.4s;
}

.collection-card:hover::before{
opacity:1;
}

/* hover animation */

.collection-card:hover{
transform:translateY(-10px);
border-color:rgba(212,175,55,0.4);
box-shadow:0 20px 50px rgba(212,175,55,0.18);
}

/* IMAGE WRAPPER */

.collection-img-wrapper{
display:flex;
justify-content:center;
align-items:center;
height:200px;
margin-bottom:18px;
}

/* IMAGE STYLE */

.collection-img{
width:150px;
height:150px;
border-radius:50%;
object-fit:contain;
background:#000;
padding:18px;
border:1px solid rgba(255,255,255,0.05);
transition:all .4s ease;
}

/* image animation */

.collection-card:hover .collection-img{
transform:scale(1.1) rotate(-4deg);
box-shadow:0 0 30px rgba(212,175,55,0.25);
}

/* NAME */

.collection-name{
font-weight:600;
margin-top:10px;
font-size:18px;
}

/* PRICE */

.collection-price{
color:#d4af37;
font-weight:600;
margin-top:6px;
font-size:15px;
}

/* BUTTONS */

.collection-buttons{
display:flex;
justify-content:center;
gap:12px;
margin-top:16px;
}

/* GOLD BUTTON */

.btn-gold{
background:#d4af37;
color:#111;
padding:7px 18px;
border-radius:8px;
text-decoration:none;
font-weight:600;
transition:.3s;
}

.btn-gold:hover{
background:#c59d2f;
transform:translateY(-2px);
}

/* OUTLINE BUTTON */

.btn-outline{
background:transparent;
border:1px solid rgba(255,255,255,0.25);
color:#fff;
padding:7px 18px;
border-radius:8px;
transition:.3s;
}
.collection-desc{
font-size:13px;
color:rgba(255,255,255,0.65);
margin-top:8px;
line-height:1.5;
min-height:45px;
}
.btn-outline:hover{
border-color:#d4af37;
color:#d4af37;
background:rgba(212,175,55,0.08);
}
[data-aos]{
pointer-events:none;
}

[data-aos].aos-animate{
pointer-events:auto;
}